<f:layout name="Default" />

<f:section name="main">
<h2><f:translate key="subscriber.headline" /> {email}</h2>

<f:flashMessages />

<table class="table table-striped" >
	<tr>
		<th><f:translate key="subscriber.table.header.post" /></th>
		<th><f:translate key="subscriber.table.header.name" /></th>
		<th><f:translate key="subscriber.table.header.comments" /></th>
		<th></th>
	</tr>

	<f:for each="{subscribers}" as="subscriber">
		<tr>
			<td>
				<f:link.action controller="Post" action="show" arguments="{subscriber.post.linkParameter}">{subscriber.post.title}</f:link.action>
			</td>
			<td>{subscriber.name}</td>
			<td>
				<f:count>{subscriber.postComments}</f:count> <f:translate key="subscriber.table.approved" /><br />
				<f:count>{subscriber.postPendingComments}</f:count> <f:translate key="subscriber.table.moderation" />
			</td>
			<td>
				<f:link.action class="btn" action="delete" arguments="{subscriber : subscriber}">
					<i class="icon-trash"></i>
					<f:translate key="subscriber.table.delete" />
				</f:link.action>
			</td>
		</tr>
	</f:for>
</table>

</f:section>