<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Subscriber</h1>

<f:flashMessages />

<table  class="tx_t3extblog" >
	<tr>
		<th><f:translate key="tx_t3extblog_domain_model_subscriber.email" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_subscriber.name" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_subscriber.post_uid" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_subscriber.last_sent" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_subscriber.code" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{subscribers}" as="subscriber">
		<tr>
			<td><f:link.action action="show" arguments="{subscriber : subscriber}"> {subscriber.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{subscriber : subscriber}"> {subscriber.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{subscriber : subscriber}"> {subscriber.postUid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{subscriber : subscriber}"> {subscriber.lastSent}</f:link.action></td>
			<td><f:link.action action="show" arguments="{subscriber : subscriber}"> {subscriber.code}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{subscriber : subscriber}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{subscriber : subscriber}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Subscriber</f:link.action>
</f:section>