<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

	<h2>
		<f:translate key="subscriber.headline" />:
		<em class="small">{email}</em>
	</h2>

	<t3b:flashMessages />

	<br>

	<div class="clearfix">
		<f:link.action class="btn btn-info pull-right" action="logout">
			<span class="icon icon-unlock-alt glyphicon glyphicon-lock"></span>
			<f:translate key="subscriber.logout" />
		</f:link.action>

		<f:if condition="{blogSubscriber}">
			<f:then>
				<f:link.action class="btn btn-danger pull-left" controller="BlogSubscriber" action="delete" arguments="{subscriber: blogSubscriber}">
					<span class="icon icon-sign-out glyphicon glyphicon-log-out"></span>
					<f:translate key="subscriber.blog.delete" />
				</f:link.action>
			</f:then>
			<f:else>
				<f:if condition="{settings.blogSubscription.subscribeForPosts}">
					<f:link.action class="btn btn-primary pull-left" controller="BlogSubscriber" action="create">
						<span class="icon icon-sign-in glyphicon glyphicon-log-in"></span>
						<f:translate key="subscriber.blog.create" />
					</f:link.action>
				</f:if>
			</f:else>
		</f:if>
	</div>

	<f:if condition="{postSubscriber}">
	<br>
	<table class="table table-bordered table-striped" >
		<caption><f:translate key="subscriber.table.caption" /></caption>
		<thead>
			<tr>
				<th style="width: 50%;"><f:translate key="subscriber.table.header.post" /></th>
				<th style="width: 25%;"><f:translate key="subscriber.table.header.name" /></th>
				<th style="width: 10%;"><f:translate key="subscriber.table.header.comments" /></th>
				<th style="width: 15%;"></th>
			</tr>
		</thead>

		<tbody>
		<f:for each="{postSubscriber}" as="subscriber">
			<tr>
				<td>
					<f:link.action
							pageUid="{settings.blogsystem.pid}"
							controller="Post"
							action="show"
							additionalParams="{L: subscriber.post.sysLanguageUid}"
							arguments="{subscriber.post.linkParameter}">
						{subscriber.post.title}
					</f:link.action>
				</td>
				<td>{subscriber.name}</td>
				<td>
					<f:count>{subscriber.postComments}</f:count> <f:translate key="subscriber.table.approved" /><br />
					<f:count>{subscriber.postPendingComments}</f:count> <f:translate key="subscriber.table.moderation" />
				</td>
				<td>
					<f:link.action class="btn btn-danger pull-right" action="delete" arguments="{subscriber : subscriber}">
						<span class="icon icon-trash glyphicon glyphicon-trash"></span>
						<f:translate key="subscriber.table.delete" />
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
	</f:if>

</f:section>

</div>