<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Posts</h1>

<f:flashMessages />

<table  class="tx_t3extblog" >
	<tr>
		<th><f:translate key="tx_t3extblog_domain_model_posts.title" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_posts.author" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_posts.publish_date" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_posts.allow_comments" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_posts.tag_cloud" /></th>
		<th><f:translate key="tx_t3extblog_domain_model_posts.number_of_views" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{postss}" as="posts">
		<tr>
			<td><f:link.action action="show" arguments="{posts : posts}"> {posts.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{posts : posts}"> {posts.author}</f:link.action></td>
			<td><f:link.action action="show" arguments="{posts : posts}"> {posts.publishDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{posts : posts}"> {posts.allowComments}</f:link.action></td>
			<td><f:link.action action="show" arguments="{posts : posts}"> {posts.tagCloud}</f:link.action></td>
			<td><f:link.action action="show" arguments="{posts : posts}"> {posts.numberOfViews}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{posts : posts}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{posts : posts}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Posts</f:link.action>
</f:section>