<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers/Backend" data-namespace-typo3-fluid="true">

<td class="title">
	<t3b:link.editOnClick parameters="edit[tx_t3blog_post][{post.uid}]=edit">
		{post.title}
	</t3b:link.editOnClick>
</td>
<td>{post.publishDate -> f:format.date(format: '{dateTimeFormat}')}</td>
<td>{post.author.name}</td>
<td class="comment">
	<f:link.action controller="BackendComment" action="listByPost" arguments="{post: post}">
		{post.comments -> f:count()}
	</f:link.action>
</td>
<td class="action">
	<t3b:link.editOnClick parameters="edit[tx_t3blog_post][{post.uid}]=edit" title="{f:translate(key: 'module.post.help.edit')}">
		<t3b:spriteManagerIcon iconName="actions-document-open" />
	</t3b:link.editOnClick>

	<f:if condition="{post.hidden}">
		<f:then>
			<t3b:link.issueCommand parameters="data[tx_t3blog_post][{post.uid}][hidden]=0" title="{f:translate(key: 'module.post.help.hide.0')}">
				<t3b:spriteManagerIcon iconName="actions-edit-unhide" />
			</t3b:link.issueCommand>
		</f:then>
		<f:else>
			<t3b:link.issueCommand parameters="data[tx_t3blog_post][{post.uid}][hidden]=1" title="{f:translate(key: 'module.post.help.hide.1')}">
				<t3b:spriteManagerIcon iconName="actions-edit-hide" />
			</t3b:link.issueCommand>
		</f:else>
	</f:if>

	<t3b:link.issueCommand parameters="cmd[tx_t3blog_post][{post.uid}][delete]=1"
		title="{f:translate(key: 'module.post.help.delete')}"
	 	onclick="return confirm(\"{f:translate(key: 'general.confirm')}\");">
		<t3b:spriteManagerIcon iconName="actions-edit-delete" />
	</t3b:link.issueCommand>
</td>

</html>
