<div xmlns:t3extblog="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Backend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<td class="title">
	<t3extblog:link.editOnClick parameters="edit[tx_t3blog_post][{post.uid}]=edit">
		{post.title}
	</t3extblog:link.editOnClick>
</td>
<td>{post.publishDate -> f:format.date(format: 'd.m.Y - H:i')}</td>
<td>{post.author.name}</td>
<td class="comment">
	<f:link.action controller="BackendComment" action="listByPost" arguments="{post: post}">
		{post.comments -> f:count()}
	</f:link.action>
</td>
<td class="action">
	<t3extblog:link.editOnClick parameters="edit[tx_t3blog_post][{post.uid}]=edit">
		<t3extblog:spriteManagerIcon iconName="actions-document-open" />
	</t3extblog:link.editOnClick>
	<f:if condition="{post.hidden}">
		<f:then>
			<t3extblog:link.issueCommand parameters="data[tx_t3blog_post][{post.uid}][hidden]=0">
				<t3extblog:spriteManagerIcon iconName="actions-edit-unhide" options="{title: 'Unhide'}" />
			</t3extblog:link.issueCommand>
		</f:then>
		<f:else>
			<t3extblog:link.issueCommand parameters="data[tx_t3blog_post][{post.uid}][hidden]=1">
				<t3extblog:spriteManagerIcon iconName="actions-edit-hide" options="{title: 'Hide'}" />
			</t3extblog:link.issueCommand>
		</f:else>
	</f:if>

	<t3extblog:link.issueCommand parameters="cmd[tx_t3blog_post][{post.uid}][delete]=1" onclick="return confirm(\"{f:translate(key: 'general.confirm')}\");">
		<t3extblog:spriteManagerIcon iconName="actions-edit-delete" options="{title: 'Delete'}" />
	</t3extblog:link.issueCommand>
</td>

</div>