<label for="title">
	<f:translate key="tx_t3extblog_domain_model_comment.title" />
</label><br />
<f:form.textfield property="title" /><br />
	
<label for="author">
	<f:translate key="tx_t3extblog_domain_model_comment.author" />
</label><br />
<f:form.textfield property="author" /><br />
	
<label for="email">
	<f:translate key="tx_t3extblog_domain_model_comment.email" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="email" /><br />
	
<label for="website">
	<f:translate key="tx_t3extblog_domain_model_comment.website" />
</label><br />
<f:form.textfield property="website" /><br />
	
<label for="text">
	<f:translate key="tx_t3extblog_domain_model_comment.text" /> <span class="required">(required)</span>
</label><br />
<f:form.textarea property="text" cols="40" rows="15" /><br />
	
<f:if condition="{settings.comments.subscribeForComments}">
	<label for="subscribe">
		<f:translate key="tx_t3extblog_domain_model_comment.subscribe" />
	</label><br />
	<f:form.checkbox property="subscribe" value="1"/><br />	
</f:if>