{namespace t3b=Tx_T3extblog_ViewHelpers}

<t3b:frontend.commentAllowed post="{post}">
	<f:then>
		<f:render section="commentForm" arguments="{_all}" />
	</f:then>
	<f:else>
		<p class="alert alert-info alert-block"><f:translate key="comment.disabled" /></p>
	</f:else>
</t3b:frontend.commentAllowed>


<f:section name="commentForm">
	<f:form
			controller="Post"
			action="show"
			section="comment-section"
			name="newComment"
			object="{newComment}"
			arguments="{post.linkParameter}">

		<t3b:frontend.flashMessages />

		<f:render partial="FormErrors" arguments="{object:Comment, post: post}" />

		<fieldset>
			<legend><f:translate key="comment.new" /></legend>

			<f:render partial="Comment/FormFields" />
		</fieldset>
		<br>
		<fieldset class="row-fluid">
			<div class="span2">
				<f:form.submit class="btn btn-primary" value="{f:translate(key: 'comment.submit')}" />
			</div>
			<div class="span4">
				<f:render partial="Comment/Spam" />
			</div>
		</fieldset>
	</f:form>
</f:section>