{namespace t3b=Tx_T3extblog_ViewHelpers}

<t3b:frontend.commentAllowed post="{post}">
	<f:then>
		<f:form
			controller="Comment"
			action="create"
			section="comment-section"
			name="newComment"
			object="{newComment}"
			arguments="{post: post}">

			<fieldset>
				<legend><f:translate key="comment.new" /></legend>

				<f:render partial="FormErrors" arguments="{object:Comment}" />

				<f:render partial="Comment/FormFields" />
			</fieldset>
			<fieldset class="row-fluid">
				<div class="span3">
					<f:form.submit class="btn btn-primary" value="<f:translate key="comment.submit" />" />
				</div>
				<div class="span3">
					<f:render partial="Comment/Spam" />
				</div>
			</fieldset>
		</f:form>
	</f:then>
	<f:else>
		<p class="alert alert-info alert-block"><f:translate key="comment.disabled" /></p>
	</f:else>
</t3b:frontend.commentAllowed>