<table class="tx-t3extblog" >
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.title" />
		</td>
		<td>
			{comment.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.author" />
		</td>
		<td>
			{comment.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.email" />
		</td>
		<td>
			{comment.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.website" />
		</td>
		<td>
			{comment.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.date" />
		</td>
		<td>
			{comment.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.text" />
		</td>
		<td>
			{comment.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.approved" />
		</td>
		<td>
			{comment.approved}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_comment.spam" />
		</td>
		<td>
			{comment.spam}
		</td>
	</tr>
</table>