<div id="comment-{comment.uid}" class="row-fluid comment<f:if condition="{comment.email} == {post.author.email}"> well</f:if>">
	<div class="span2 text-right">
		<strong>
			<f:if condition="{comment.website}">
				<f:then><a href="{comment.website}">{comment.author}</a></f:then>
				<f:else>{comment.author}</f:else>
			</f:if>
		</strong>
		<p>
			<f:cObject typoscriptObjectPath="lib.tx_t3extblog.date" data="{f:format.date(format:'U' date:'{comment.date}')}" />
		</p>
	</div>
	<div class="span9">
		<f:if condition="{comment.title}">
			<strong>{comment.title}</strong>
		</f:if>
		<f:format.html>{comment.text}</f:format.html>
	</div>

	<div class="span1 text-right">
		<f:link.action action="show" arguments="{post: post, day: post.publishDay, month: post.publishMonth, year: post.publishYear}" section="comment-{comment.uid}">
			<i class="icon-link"></i>
		</f:link.action>
	</div>
</div>