{namespace t3extblog = Tx_T3extblog_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="content">
	<f:render partial="PendingComments" arguments="{pendingComments: pendingComments, addLink: 1}" />

	<h3><f:translate key="module.post.title" /></h3>

	<f:if condition="{posts}">
		<f:then>
			<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.backend.posts.paginate}">
				<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
					<tr class="t3-row-header">
						<td>&nbsp;</td>
						<td><f:translate key="module.post.table.title" /></td>
						<td><f:translate key="module.post.table.date" /></td>
						<td><f:translate key="module.post.table.author" /></td>
						<td><f:translate key="module.post.table.comments" /></td>
						<td>&nbsp;</td>
					</tr>

					<f:for each="{paginatedPosts}" as="post">
						<f:render partial="Post/Row" arguments="{post: post, dateFormat: dateFormat, timeFormat: timeFormat, returnUrl: returnUrl}" />
					</f:for>

					<tr>
						<td colspan="6">
							<f:translate
								key="module.post.table.count"
								arguments="{0: '{paginatedPosts -> f:count()}', 1: '{posts -> f:count()}'}" />
						</td>
					</tr>
				</table>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<em><f:translate key="module.post.noRecords" /></em>
		</f:else>
	</f:if>
</f:section>


<f:section name="iconButtons">
	<a href="#" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_t3blog_post][{pageId}]]=new'; return false;">
		<t3extblog:SpriteManagerIcon iconName="actions-document-new" />
	</a>
</f:section>

</div>