<label for="email">
	<f:translate key="tx_t3extblog_domain_model_subscriber.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="name">
	<f:translate key="tx_t3extblog_domain_model_subscriber.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="postUid">
	<f:translate key="tx_t3extblog_domain_model_subscriber.post_uid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="postUid" /><br />
<label for="lastSent">
	<f:translate key="tx_t3extblog_domain_model_subscriber.last_sent" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastSent" /><br />
<label for="code">
	<f:translate key="tx_t3extblog_domain_model_subscriber.code" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="code" cols="40" rows="15" /><br />