<table class="tx-t3extblog" >
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_posts.title" />
		</td>
		<td>
			{posts.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_posts.author" />
		</td>
		<td>
			{posts.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_posts.publish_date" />
		</td>
		<td>
			{posts.publishDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_posts.allow_comments" />
		</td>
		<td>
			{posts.allowComments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_posts.tag_cloud" />
		</td>
		<td>
			{posts.tagCloud}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_posts.number_of_views" />
		</td>
		<td>
			{posts.numberOfViews}
		</td>
	</tr>
</table>