{namespace t3extblog = TYPO3\T3extblog\ViewHelpers\Backend}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Backend" />

<f:section name="main">
	<h2>
		<f:translate key="module.comment.title.byPost" arguments="{0: '{post.title}'}" />
	</h2>

	<f:render partial="Backend/PendingComments" arguments="{pendingComments: pendingComments, addLink: 0}" />

	<f:render
		partial="Backend/Comment/Table"
		arguments="{
			comments: comments,
			dateFormat: dateFormat,
			timeFormat: timeFormat,
			returnUrl: returnUrl
		}"
	/>
</f:section>


<f:section name="iconButtons">
	<div class="buttongroup">
		<t3extblog:link.editOnClick parameters="edit[tx_t3blog_com][{pageId}]=new&defVals[tx_t3blog_com][fk_post]={post.uid}">
			<t3extblog:SpriteManagerIcon iconName="actions-document-new" />
		</t3extblog:link.editOnClick>
	<div>
</f:section>

</div>