<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Backend" data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="main">
	<h2>
		<f:translate key="module.comment.title.byPost" arguments="{0: '{post.title}'}" />
	</h2>

	<f:render partial="Backend/PendingComments" arguments="{pendingComments: pendingComments, addLink: 0}" />

	<f:render
		partial="Backend/Comment/Table"
		arguments="{comments: comments,	dateTimeFormat: dateTimeFormat}" />
</f:section>


<f:section name="iconButtons">
	<div class="buttongroup">
		<span>{f:translate(key: 'module.buttons.new')}</span>

		<t3b:link.editOnClick parameters="edit[tx_t3blog_com][{pageId}]=new&defVals[tx_t3blog_com][fk_post]={post.uid}" title="{f:translate(key: 'module.buttons.new.comment')}">
			<t3b:SpriteManagerIcon iconName="extensions-t3extblog-comment" />
		</t3b:link.editOnClick>
	</div>
</f:section>

</html>
