{namespace t3extblog = Tx_T3extblog_ViewHelpers}

<tr class="db_list_normal">
	<td class="col-icon">
		<a href="#" onClick="showClickmenu('tx_t3blog_com', '{comment.uid}', '1', '', '', ''); return false;" title="id={comment.uid}">
			<t3extblog:spriteIconForRecord table="tx_t3blog_com" object="{comment}" />
		</a>
	</td>
	<td>
		<b>
			<a href="alt_doc.php?edit[tx_t3blog_com][{comment.uid}]=edit&returnUrl={returnUrl}" title="{comment.plainText -> f:format.crop(maxCharacters: 300)}">
				{comment.title -> f:format.crop(maxCharacters: 30)}
			</a>
		</b>
	</td>
	<td>{comment.date -> f:format.date(format: 'd.m.Y - H:i:s')}</td>
	<td>{comment.author}</td>
	<td><a href="mailto:{comment.email}">{comment.email}</a></td>
	<td><a href="{comment.website}">{comment.website -> f:format.crop(maxCharacters: 30)}</a></td>
	<td>
		<f:if condition="{comment.approved}">
			<f:then>
				<a href="<t3extblog:issueCommand parameters="data[tx_t3blog_com][{comment.uid}][approved]=0" />">
					<t3extblog:spriteManagerIcon iconName="status-status-permission-granted" options="{title: '{f:translate(key: \"module.comment.help.approved.0\")}'}" />
				</a>
			</f:then>
			<f:else>
				<a href="<t3extblog:issueCommand parameters="data[tx_t3blog_com][{comment.uid}][approved]=1" />">
					<t3extblog:spriteManagerIcon iconName="status-status-permission-denied" options="{title: '{f:translate(key: \"module.comment.help.approved.1\")}'}" />
				</a>
			</f:else>
		</f:if>
	</td>
	<td>
		<f:if condition="{comment.spam}">
			<f:then>
				<a href="<t3extblog:issueCommand parameters="data[tx_t3blog_com][{comment.uid}][spam]=0" />">
					<t3extblog:spriteManagerIcon iconName="actions-edit-localize-status-high" options="{title: '{f:translate(key: \"module.comment.help.spam.0\")}'}" />
				</a>
			</f:then>
			<f:else>
				<a href="<t3extblog:issueCommand parameters="data[tx_t3blog_com][{comment.uid}][spam]=1" />">
					<t3extblog:spriteManagerIcon iconName="actions-edit-localize-status-low" options="{title: '{f:translate(key: \"module.comment.help.spam.1\")}'}" />
				</a>
			</f:else>
		</f:if>
	</td>
	<td>
		<a href="alt_doc.php?edit[tx_t3blog_com][{comment.uid}]=edit&returnUrl={returnUrl}">
			<t3extblog:spriteManagerIcon iconName="actions-document-open" options="{title: '{f:translate(key: \"module.comment.help.edit\")}'}" />
		</a>
		<f:if condition="{comment.hidden}">
			<f:then>
				<a href="<t3extblog:issueCommand parameters="data[tx_t3blog_com][{comment.uid}][hidden]=0" />">
					<t3extblog:spriteManagerIcon iconName="actions-edit-unhide" options="{title: '{f:translate(key: \"module.comment.help.hide.0\")}'}" />
				</a>
			</f:then>
			<f:else>
				<a href="<t3extblog:issueCommand parameters="data[tx_t3blog_com][{comment.uid}][hidden]=1" />">
					<t3extblog:spriteManagerIcon iconName="actions-edit-hide" options="{title: '{f:translate(key: \"module.comment.help.hide.1\")}'}" />
				</a>
			</f:else>
		</f:if>
		<a href="<t3extblog:issueCommand parameters="cmd[tx_t3blog_com][{comment.uid}][delete]=1" />" onclick="return confirm('{f:translate(key: "module.message.deleteRecord")}');">
			<t3extblog:spriteManagerIcon iconName="actions-edit-delete" options="{title: '{f:translate(key: \"module.comment.help.delete\")}'}" />
		</a>
	</td>
</tr>