<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<f:if condition="{paginator.paginatedItems}">

		<f:if condition="{settings.latestPosts.paginate.insertAbove}">
			<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
		</f:if>

		<ul>
			<f:for each="{paginator.paginatedItems}" as="post">
				<li>
					<f:link.action pluginName="Blogsystem" controller="Post" action="show" pageUid="{settings.blogsystem.pid}" arguments="{post.linkParameter}">
						{post.title}
					</f:link.action>
				</li>
			</f:for>
			</ul>

		<f:if condition="{settings.latestPosts.paginate.insertBelow}">
			<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
		</f:if>

	</f:if>

</f:section>

</html>
