<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

	<f:render partial="Post/Filter" arguments="{category: category, tag: tag}" />

	<f:if condition="{posts}">
		<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.latestPosts.paginate}">
			<ul>
			<f:for each="{paginatedPosts}" as="post">
				<li>
					<f:link.action controller="Post" action="show" pageUid="{settings.blogsystem.pid}" arguments="{post.linkParameter}">
						{post.title}
					</f:link.action>
				</li>
			</f:for>
			</ul>
		</f:widget.paginate>
	</f:if>

</f:section>

</div>