<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.paginate}">
		<f:debug>{paginatedPosts}</f:debug>
		<f:for each="{paginatedPosts}" as="post">
			<div class="post">			
				<h2><f:link.action action="show" arguments="{post : post}">{post.title}</f:link.action></h2>
				<p class="author">{post.author.name}</p>
				<span class="date">{post.publishDate -> f:format.date()}</span>
				<p class="tags">{post.tagCloud}</p>
			</div>
		</f:for>
	</f:widget.paginate>

</f:section>