{namespace t3b=Tx_T3extblog_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<f:render partial="Post/Filter" arguments="{category: category, tag: tag}" />

	<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.blogsystem.posts.paginate}">
		<f:for each="{paginatedPosts}" as="post">
			<article class="well">
				<h2>
					<f:link.action action="show" arguments="{post.linkParameter}">
						{post.title}
					</f:link.action>
				</h2>
				<p class="top">
					<f:cObject typoscriptObjectPath="lib.tx_t3extblog.date" data="{f:format.date(format:'U' date:'{post.publishDate}')}" />,
					<span  class="author">{post.author.name}</span> in
					<f:render partial="Post/Categories" arguments="{post: post}" />
				</p>

				<f:if condition="{post.content}">
					<div class="teaser">
						<f:render section="teaserComplex" arguments="{contentElements: post.content}" />
						<br>
						<f:link.action action="show" arguments="{post: post, day: post.publishDay, month: post.publishMonth, year: post.publishYear}" class="btn btn-primary">
							<i class="icon-arrow-right"></i>
							{post.title}
						</f:link.action>
					</div>
				</f:if>

				<div class="bottom row-fluid">
					<div class="span3">
						<span class="badge">
							<f:link.action controller="Post" action="show" arguments="{post: post, day: post.publishDay, month: post.publishMonth, year: post.publishYear}" section="comment-list">
								<f:count subject="{post.comments}" /> <f:translate key="post.comments" />
							</f:link.action>
						</span>
					</div>
					<div class="span9 text-right">
						<f:render partial="Post/TagCloud" arguments="{post: post}" />
					</div>
				</div>
			</article>
		</f:for>
	</f:widget.paginate>

</f:section>


<f:section name="teaserTwoElements">
		<f:for each="{contentElements}" as="content" iteration="iterator">
			<f:if condition="{iterator.index} < 2">
				<t3b:frontend.renderContent contentElements="{0: content}" />
			</f:if>
		</f:for>
</f:section>


<f:section name="teaserComplex">
	<f:for each="{contentElements}" as="content" iteration="iterator">
		<f:if condition="{iterator.index} == 0">
			<f:if condition="{0:content.CType} == {0:'image'}">
				<f:then>
					<div class="text-pic clearfix">
						<div class="pull-left">
							<t3b:frontend.renderContent contentElements="{0: content}" removeMarker="0" />
						</div>
				</f:then>
				<f:else>
					<t3b:frontend.renderContent contentElements="{0: content}" />
				</f:else>
			</f:if>
		</f:if>
	</f:for>

	<t3b:frontend.renderContent contentElements="{contentElements}" index="1" />

	<f:for each="{contentElements}" as="content" iteration="iterator">
		<f:if condition="{0:iterator.index, 1:content.CType} == {0:0, 1:'image'}">
			</div>
		</f:if>
	</f:for>
</f:section>