<f:layout name="Default" />

<f:section name="main">
	<f:debug>{post}</f:debug>
	<div class="post">			
		<h1><f:link.action action="show" arguments="{post : post}">{post.title}</f:link.action></h1>
		<p class="author">{post.author.name}</p>
		<span class="date">{post.publishDate -> f:format.date()}</span>
		
		<f:if condition="{post.content}">	
			<div class="content">	
			<f:cObject typoscriptObjectPath="lib.tx_t3extblog.contentElementRendering">{post.contentIdList}</f:cObject>
			</div>
		</f:if>
		
		<f:render partial="Post/TagCloud" arguments="{post: post}" />
		<f:render partial="Post/Categories" arguments="{post: post}" />
		
		<div class="comments">	
			<f:flashMessages />

			<f:render partial="Comment/New" arguments="{post: post, newComment: newComment}" />
			
			<div class="list">
				<h2><f:count subject="{post.comments}" /> Comments</h2>
				
				<f:if condition="{post.comments}">
					<f:widget.paginate objects="{post.comments}" as="paginatedComments" configuration="{settings.blogsystem.comments.paginate}">
						<f:for each="{paginatedComments}" as="comment">
							<f:render partial="Comment/Show" arguments="{comment: comment}" />
						</f:for>
					</f:widget.paginate>
				</f:if>
			</div>
		</div>
	</div>

	<f:link.action action="list">Back to list</f:link.action><br />
</f:section>