{namespace t3b=Tx_T3extblog_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<article class="well">
		<h2>
			<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" >
				{post.title}
			</f:link.action>
			<t3b:frontend.titleTag>{post.title} / </t3b:frontend.titleTag>
		</h2>
		<p class="top">
			<f:cObject typoscriptObjectPath="lib.tx_t3extblog.date" data="{f:format.date(format:'U' date:'{post.publishDate}')}" />,
			<span  class="author">{post.author.name}</span> in
			<f:render partial="Post/Categories" arguments="{post: post}" />
		</p>

		<f:if condition="{post.content}">
			<div class="content">
				<f:render section="content" arguments="{contentElements: post.content}" />
			</div>
		</f:if>

		<div class="bottom row-fluid">
			<div class="span4">
				<span class="badge">
					<f:comment>@todo Remove workaround for #51</f:comment>
					<a href="#comment-section">
						<f:count subject="{post.comments}" /> <f:translate key="post.comments" />
					</a>
				</span>
				<f:link.action controller="Post" action="permalink" arguments="{permalinkPost: post.uid}" class="permalink">
					<i class="icon-link"></i>
					<f:translate key="post.permalink" />
				</f:link.action>
			</div>
			<div class="span8 text-right">
				<f:render partial="Post/TagCloud" arguments="{post: post}" />
			</div>
		</div>
	</article>

	<f:if condition="{newComment}">
		<div id="comment-section">
			<div class="well" id="comment-form">
				<f:render partial="Comment/New" arguments="{post: post, newComment: newComment}" />
			</div>

			<h3><f:count subject="{post.comments}" /> <f:translate key="post.comments" /></h3>

			<f:if condition="{post.comments}">
				<div id="comment-list">
					<f:widget.paginate objects="{post.commentsForPaginate}" as="paginatedComments" configuration="{settings.blogsystem.comments.paginate}">
						<f:for each="{paginatedComments}" as="comment">
							<f:render partial="Post/Comment" arguments="{post: post, comment: comment}" />
							<hr>
						</f:for>
					</f:widget.paginate>
				</div>
			</f:if>
		</div>
	</f:if>
</f:section>


<f:section name="content">
	<f:for each="{contentElements}" as="content" iteration="iterator">
		<f:if condition="{iterator.index} == 0">
			<f:if condition="{0:content.CType} == {0:'image'}">
				<f:then>
					<div class="text-pic clearfix">
						<div class="pull-left">
							<t3b:frontend.renderContent contentElements="{0: content}" removeMarker="0" />
						</div>
				</f:then>
				<f:else>
					<t3b:frontend.renderContent contentElements="{0: content}" />
				</f:else>
			</f:if>
		</f:if>
	</f:for>

	<t3b:frontend.renderContent contentElements="{contentElements}" index="1" />

	<f:for each="{contentElements}" as="content" iteration="iterator">
		<f:if condition="{0:iterator.index, 1:content.CType} == {0:0, 1:'image'}">
			</div>
		</f:if>
	</f:for>
</f:section>
