<html data-namespace-typo3-fluid="true"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers">

<f:layout name="Widget/Widget"/>

<f:section name="main">
	<div class="widget-table-wrapper">
		<table class="widget-table">
			<f:groupedFor each="{items}" as="commentsByPost" groupBy="postId" groupKey="currentPostUid">
				<tr style="background-color: lightgrey">
					<th>
						<be:link.editRecord uid="{currentPostUid}" table="tx_t3blog_post" returnUrl="{f:be.uri(route: 'dashboard')}" title="{f:translate(key: 'module.post.help.edit')}">
							<f:format.crop maxCharacters="50" respectWordBoundaries="0">
								<t3b:backend.recordTitle table="tx_t3blog_post" uid="{currentPostUid}" />
							</f:format.crop>
						</be:link.editRecord>
					</th>
				</tr>
				<f:for as="comment" each="{commentsByPost}">
					<tr>
						<td>
							<be:link.editRecord uid="{comment.uid}" table="tx_t3blog_com" returnUrl="{f:be.uri(route: 'dashboard')}" title="{f:translate(key: 'module.comment.help.edit')}">
								<strong>
									<f:if condition="{comment.author}">
										<f:then>
											<em>{comment.author}:</em>
										</f:then>
										<f:else>
											<f:if condition="{comment.email}">
												<em>{comment.email}:</em>
											</f:if>
										</f:else>
									</f:if>
									<f:if condition="{comment.title}">
										{comment.title}
									</f:if>
								</strong>
								<small>
									<time datetime="{comment.date -> f:format.date(format: '%Y-%m-%d')}">{comment.date ->
										f:format.date()}
									</time>
								</small>
							</be:link.editRecord>
							<f:if condition="{comment.valid} == 0">
								<span class="label label-warning small" style="float: right;">!</span>
							</f:if>
							<p>
								<q>
									{comment.plainText -> f:format.crop(maxCharacters: 125)}
								</q>
							</p>
						</td>
					</tr>
				</f:for>
			</f:groupedFor>
		</table>
	</div>
</f:section>

<f:section name="footer">
	<f:if condition="{button}">
		<a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</a>
	</f:if>
</f:section>
</html>
