<html data-namespace-typo3-fluid="true"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers">

<f:layout name="Widget/Widget"/>

<f:section name="main">
	<div class="widget-table-wrapper">
		<table class="widget-table">
			<f:for as="post" each="{items}">
				<tr>
					<td>
						<be:link.editRecord uid="{post.uid}" table="tx_t3blog_post" returnUrl="{f:be.uri(route: 'dashboard')}" title="{f:translate(key: 'module.post.help.edit')}">
							<strong>
								{post.title -> f:format.crop(maxCharacters: 20, respectWordBoundaries: false)}
							</strong>
							<small>
								<time datetime="{post.publishDate -> f:format.date(format: '%Y-%m-%d')}">
									{post.publishDate -> f:format.date()}
								</time>
							</small>
						</be:link.editRecord>
						<f:if condition="{post.hidden}">
							<span class="label label-warning small" style="float: right;">!</span>
						</f:if>
						<p>
							<f:if condition="{post.author.name}">
								<f:then>
									{post.author.name} ({post.author.username})
								</f:then>
								<f:then>
									{post.author.username}
								</f:then>
							</f:if>
						</p>
					</td>
				</tr>
			</f:for>
		</table>
	</div>
</f:section>

<f:section name="footer">
	<f:if condition="{button}">
		<a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</a>
	</f:if>
</f:section>
</html>
