<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{pendingComments}">
	<f:be.infobox title="{f:translate(key: 'module.message.pendingComments.title')}" state="-1">
		<f:render section="content" arguments="{_all}" />
	</f:be.infobox>
</f:if>

<f:section name="content">
	<f:if condition="{addLink}">
		<f:then>
			<f:link.action controller="BackendComment" action="listPending">
				<f:translate key="module.message.pendingComments" arguments="{0: '{pendingComments -> f:count()}'}" />
			</f:link.action>
		</f:then>
		<f:else>
			<f:translate key="module.message.pendingComments" arguments="{0: '{pendingComments -> f:count()}'}" />
		</f:else>
	</f:if>
</f:section>

</html>
