<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" class="table-fit">

<t3b:widget.paginate objects="{comments}" as="paginatedComments" configuration="{settings.backend.dashboard.comments.paginate}">
	<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
		<thead>
			<tr class="t3-row-header">
				<td>&nbsp;</td>
				<td><f:translate key="module.comment.table.author" /></td>
				<td><f:translate key="module.comment.table.date" /></td>
				<td>&nbsp;</td>
			</tr>
		</thead>

		<tbody>

		<f:groupedFor each="{paginatedComments}" as="paginatedCommentsByPost" groupBy="postId" groupKey="currentPostUid">
			<tr class="c-headLine">
				<td colspan="4" class="col-title">
					<b>
						<f:format.crop maxCharacters="50" respectWordBoundaries="0">
							<t3b:backend.recordTitle table="tx_t3blog_post" uid="{currentPostUid}" />
						</f:format.crop>
					</b>
				</td>
			</tr>
			<f:for each="{paginatedCommentsByPost}" as="comment">
				<tr class="db_list_normal{f:if(condition: '{comment.valid}', else: ' warning')}">
					<td class="col-icon">
						<f:comment>@todo Remove onclick event when TYPO3 6.2 is no longer relevant</f:comment>
						<a href="#" onClick="if (window.showClickmenu) showClickmenu('tx_t3blog_com', '{comment.uid}', '1', '', '', ''); return false;" 	class="t3-js-clickmenutrigger" data-uid="{comment.uid}" data-table="tx_t3blog_com" title="{comment.uid}">
							<t3b:backend.spriteIconForRecord table="tx_t3blog_com" object="{comment}" />
						</a>
					</td>
					<td>
						<span title="{comment.plainText -> f:format.crop(maxCharacters: 200)}">
							{comment.author -> f:format.crop(maxCharacters: 15, respectWordBoundaries: false)}
						</span>
					</td>
					<td>{comment.date -> f:format.date(format: 'd.m.y H:i')}</td>
					<td class="action">
						<t3b:backend.link.editOnClick parameters="edit[tx_t3blog_com][{comment.uid}]=edit" title="{f:translate(key: 'module.comment.help.edit')}">
							<t3b:backend.spriteManagerIcon iconName="actions-document-open" />
						</t3b:backend.link.editOnClick>

						<f:if condition="{comment.approved}">
							<f:then>
								<t3b:backend.link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][approved]=0" title="{f:translate(key: 'module.comment.help.approved.0')}">
									<t3b:backend.spriteManagerIcon iconName="status-status-permission-granted" />
								</t3b:backend.link.issueCommand>
							</f:then>
							<f:else>
								<t3b:backend.link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][approved]=1" title="{f:translate(key: 'module.comment.help.approved.1')}">
									<t3b:backend.spriteManagerIcon iconName="status-status-permission-denied" />
								</t3b:backend.link.issueCommand>
							</f:else>
						</f:if>

						<f:if condition="{comment.spam}">
							<f:then>
								<t3b:backend.link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][spam]=0" title="{f:translate(key: 'module.comment.help.spam.0')}">
									<t3b:backend.spriteManagerIcon iconName="actions-edit-localize-status-high" />
								</t3b:backend.link.issueCommand>
							</f:then>
							<f:else>
								<t3b:backend.link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][spam]=1" title="{f:translate(key: 'module.comment.help.spam.1')}">
									<t3b:backend.spriteManagerIcon iconName="actions-edit-localize-status-low" />
								</t3b:backend.link.issueCommand>
							</f:else>
						</f:if>

						<f:if condition="{comment.hidden}">
							<f:then>
								<t3b:backend.link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][hidden]=0" title="{f:translate(key: 'module.comment.help.hide.0')}">
									<t3b:backend.spriteManagerIcon iconName="actions-edit-unhide" />
								</t3b:backend.link.issueCommand>
							</f:then>
							<f:else>
								<t3b:backend.link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][hidden]=1" title="{f:translate(key: 'module.comment.help.hide.1')}">
									<t3b:backend.spriteManagerIcon iconName="actions-edit-hide" />
								</t3b:backend.link.issueCommand>
							</f:else>
						</f:if>

						<t3b:backend.link.issueCommand parameters="cmd[tx_t3blog_com][{comment.uid}][delete]=1" title="{f:translate(key: 'module.comment.help.delete')}" onclick="return confirm(\"{f:translate(key: 'module.message.deleteRecord')}\");">
							<t3b:backend.spriteManagerIcon iconName="actions-edit-delete" />
						</t3b:backend.link.issueCommand>
					</td>
				</tr>
			</f:for>
		</f:groupedFor>
		</tbody>
	</table>
</t3b:widget.paginate>

</div>