<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="table-fit">

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td style="width: 35px;">&nbsp;</td>
				<td><f:translate key="module.post.table.title" /></td>
				<td><f:translate key="module.post.table.author" /></td>
			</tr>
		</thead>

		<f:for each="{posts}" as="post">
			<tr>
				<td>
					<a href="#" data-contextmenu-trigger="click" data-contextmenu-uid="{post.uid}" data-contextmenu-table="tx_t3blog_post" title="{post.uid}">
						<t3b:backend.spriteIconForRecord table="tx_t3blog_post" object="{post}" />
					</a>
				</td>

				<td class="title">
					<be:link.editRecord uid="{post.uid}" table="tx_t3blog_post">
						{post.title -> f:format.crop(maxCharacters: 20, respectWordBoundaries: false)}
					</be:link.editRecord>
				</td>
				<td>{post.author.username}</td>
			</tr>
		</f:for>
	</table>

</div>

</html>
