<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" class="table-fit">

<t3b:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.backend.dashboard.postDrafts.paginate}">
	<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
		<thead>
			<tr class="t3-row-header">
				<td>&nbsp;</td>
				<td><f:translate key="module.post.table.title" /></td>
				<td><f:translate key="module.post.table.author" /></td>
			</tr>
		</thead>

		<f:for each="{paginatedPosts}" as="post">
			<tr class="db_list_normal">
				<td class="col-icon">
					<a href="#" class="t3-js-clickmenutrigger" data-uid="{post.uid}" data-table="tx_t3blog_post" title="{post.uid}">
						<t3b:backend.spriteIconForRecord table="tx_t3blog_post" object="{post}" />
					</a>
				</td>

				<td class="title">
					<t3b:backend.link.editOnClick parameters="edit[tx_t3blog_post][{post.uid}]=edit">
						{post.title -> f:format.crop(maxCharacters: 20, respectWordBoundaries: false)}
					</t3b:backend.link.editOnClick>
				</td>
				<td>{post.author.username}</td>
			</tr>
		</f:for>
	</table>
</t3b:widget.paginate>

</div>