<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:for each="{subscribers}" as="subscriber">
	<tr class="db_list_normal">
		<td class="col-icon">
			<f:comment>@todo Remove onclick event when TYPO3 6.2 is no longer relevant</f:comment>
			<a href="#"
			   onClick="if (window.showClickmenu) showClickmenu('{table}', '{subscriber.uid}', '1', '', '', ''); return false;"
			   class="t3-js-clickmenutrigger"
			   data-uid="{subscriber.uid}"
			   data-table="{table}"
			   title="{subscriber.uid}">
				<t3b:backend.spriteIconForRecord table="{table}" object="{subscriber}" />
			</a>
		</td>
		<td>
			<f:if condition="{subscriber.post.uid}">
				<f:then>
					<span title="{subscriber.post.title -> f:format.crop(maxCharacters: 100)}">
						{subscriber.email -> f:format.crop(maxCharacters: 20, respectWordBoundaries: false)}
					</span>
				</f:then>
				<f:else>
					{subscriber.email -> f:format.crop(maxCharacters: 20, respectWordBoundaries: false)}
				</f:else>
			</f:if>
		</td>
		<td>{subscriber.crdate -> f:format.date(format: 'd.m.y H:i')}</td>
		<td class="action">
			<t3b:backend.link.editOnClick parameters="edit[{table}][{subscriber.uid}]=edit" title="{f:translate(key: 'module.subscriber.help.edit')}">
				<t3b:backend.spriteManagerIcon iconName="actions-document-open" />
			</t3b:backend.link.editOnClick>

			<f:if condition="{subscriber.hidden}">
				<f:then>
					<t3b:backend.link.issueCommand parameters="data[{table}][{subscriber.uid}][hidden]=0" title="{f:translate(key: 'module.subscriber.help.hide.0')}">
						<t3b:backend.spriteManagerIcon iconName="actions-edit-unhide" />
					</t3b:backend.link.issueCommand>
				</f:then>
				<f:else>
					<t3b:backend.link.issueCommand parameters="data[{table}][{subscriber.uid}][hidden]=1" title="{f:translate(key: 'module.subscriber.help.hide.1')}">
						<t3b:backend.spriteManagerIcon iconName="actions-edit-hide" />
					</t3b:backend.link.issueCommand>
				</f:else>
			</f:if>

			<t3b:backend.link.issueCommand parameters="cmd[{table}][{subscriber.uid}][delete]=1"
				title="{f:translate(key: 'module.subscriber.help.delete')}"
				onclick="return confirm(\"{f:translate(key: 'module.message.deleteRecord')}\");">
				<t3b:backend.spriteManagerIcon iconName="actions-edit-delete" />
			</t3b:backend.link.issueCommand>
		</td>
	</tr>
	</f:for>

</div>