<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="headline">
	<f:translate key="module.subscriber.post.title" />
</f:section>

<f:section name="main">
	<div class="panel panel-space panel-default">
		<f:if condition="{paginator.paginatedItems}">
			<f:then>
				<div class="table-fit">
					<f:if condition="{settings.backend.subscriber.post.paginate.insertAbove}">
						<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
					</f:if>

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<td style="width: 35px;">&nbsp;</td>
								<td><f:translate key="module.subscriber.post.table.name" /></td>
								<td><f:translate key="module.subscriber.post.table.email" /></td>
								<td><f:translate key="module.subscriber.post.table.date" /></td>
								<td style="width: 50px;">&nbsp;</td>
							</tr>
						</thead>

						<f:groupedFor each="{paginator.paginatedItems}" as="paginatedSubscriberByPost" groupBy="post" groupKey="currentPost">
							<tr>
								<td>&nbsp;</td>
								<td colspan="4" class="col-title">
									<b>{currentPost.title}</b>
								</td>
							</tr>
							<f:for each="{paginatedSubscriberByPost}" as="subscriber">
								<f:render partial="Backend/Subscriber/PostSubscriberRow" arguments="{subscriber: subscriber, dateTimeFormat: dateTimeFormat}" />
							</f:for>
						</f:groupedFor>

						<tr>
							<td colspan="6">
								<f:translate
									key="module.subscriber.table.count"
									arguments="{0: '{paginator.paginatedItems -> f:count()}', 1: '{totalAmountOfItems}'}" />
							</td>
						</tr>
					</table>

					<f:if condition="{settings.backend.subscriber.post.paginate.insertBelow}">
						<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
					</f:if>
				</div>
			</f:then>
			<f:else>
				<div class="panel-body">
					<em><f:translate key="module.subscriber.noRecords" /></em>
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>

</html>
