<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Backend" />

<f:section name="main">
	<h3><f:translate key="module.subscriber.post.title" /></h3>

	<div class="panel panel-space panel-default">
		<f:if condition="{postSubscribers}">
			<f:then>
				<div class="table-fit">
				<t3b:widget.paginate objects="{postSubscribers}" as="paginatedPostSubscriber" configuration="{settings.backend.subscriber.post.paginate}">
					<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
						<thead>
							<tr class="t3-row-header">
								<td>&nbsp;</td>
								<td><f:translate key="module.subscriber.post.table.name" /></td>
								<td><f:translate key="module.subscriber.post.table.email" /></td>
								<td><f:translate key="module.subscriber.post.table.date" /></td>
								<td style="width: 50px;">&nbsp;</td>
							</tr>
						</thead>

						<f:groupedFor each="{paginatedPostSubscriber}" as="paginatedSubscriberByPost" groupBy="post" groupKey="currentPost">
							<tr class="c-headLine">
								<td colspan="9" class="col-title">
									<b>{currentPost.title}</b>
								</td>
							</tr>
							<f:for each="{paginatedSubscriberByPost}" as="subscriber">
								<f:render partial="Backend/Subscriber/PostSubscriberRow" arguments="{subscriber: subscriber, dateFormat: dateFormat, timeFormat: timeFormat}" />
							</f:for>
						</f:groupedFor>

						<tr>
							<td colspan="6">
								<f:translate
									key="module.subscriber.table.count"
									arguments="{0: '{paginatedPostSubscriber -> f:count()}', 1: '{postSubscribers -> f:count()}'}" />
							</td>
						</tr>
					</table>
				</t3b:widget.paginate>
				</div>
			</f:then>
			<f:else>
				<div class="panel-body">
					<em><f:translate key="module.subscriber.noRecords" /></em>
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>

<f:section name="iconButtons"></f:section>

</div>