<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="alert alert-danger" role="alert">
			<div class="typo3-message message-error">
				<div class="message-header"><f:translate key="error.headline" /></div>

				<ul class="message-body">
				<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
					<li>
						<a href="{anchorLink}#{propertyPath}">
							<f:translate key="error.{propertyPath}.{errors.0.code}" arguments="{errors.0.arguments}">{errors.0.message}</f:translate>
						</a>
					</li>
				</f:for>
				</ul>
			</div>
		</div>
	</f:if>
</f:form.validationResults>

</div>