<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="alert alert-error alert-block">
			<h5><f:translate key="error.headline" /></h5>

			<ul>
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<li>
					<a href="{f:uri.action(action: 'create', controller: 'Comment', arguments: post.linkParameter)}#{propertyPath}">
						<f:translate key="error.{propertyPath}.{errors.0.code}" arguments="{errors.0.arguments}">{errors.0.message}</f:translate>
					</a>
				</li>
			</f:for>
			</ul>
		</div>
	</f:if>
</f:form.validationResults>