<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="privacyPolicySettings.enabled">
    <div class="checkbox">
        <label for="subscriber.privacyPolicyAccepted">
            <f:form.checkbox id="subscriber.privacyPolicyAccepted" property="privacyPolicyAccepted" value="1" additionalAttributes="{autocomplete: 'off'}" />
            <f:if condition="{privacyPolicySettings.typolink}">
                <f:then>
                    <f:format.raw>
                        <f:translate key="subscriber.privacyPolicyAccepted.text" arguments="{0: '{f:render(section:\'link\',arguments:\'{privacyPolicySettings: privacyPolicySettings}\')}'}" />
                    </f:format.raw>
                </f:then>
                <f:else>
                    <f:translate key="subscriber.privacyPolicyAccepted" />
                </f:else>
            </f:if>
        </label>
    </div>
</f:if>

<f:section name="link">
    <f:link.typolink parameter="{privacyPolicySettings.typolink}">
        <f:translate key="subscriber.privacyPolicyAccepted.link" />
    </f:link.typolink>
</f:section>
</html>