<f:be.container
	pageTitle="T3extblog Management"
	includeCssFiles="{0: '{f:uri.resource(path: \'Css/BackendStyle.css\')}'}"
>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1" class="typo3-docheader-functions">
				<div class="buttonsleft left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'module.post.title')}" controller="BackendPost" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'module.comment.title.all')}" controller="BackendComment" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'module.comment.title.pending')}" controller="BackendComment" action="listPending" />
					</f:be.menus.actionMenu>
				</div>
				<div class="buttonsright right">
					<f:be.pagePath /><f:be.pageInfo />
				</div>
			</div>
			<div id="typo3-docheader-row2" class="typo3-docheader-buttons">
				<div class="docheader-row2-left left">
					<f:render section="iconButtons" />
				</div>
				<div class="docheader-row2-right right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h1><f:translate key="module.title" /></h1>

				<f:flashMessages renderMode="div" />

				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>