<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:be.container
	pageTitle="T3extblog Management"
	includeCssFiles="{
		0: '{f:uri.resource(path: \'Css/Backend/Style.css\')}',
		1: '{f:uri.resource(path: \'Css/Backend\')}/Style{t3b:typo3Version(version: \'7.3\', operator: \'>=\', then: \'7x\', else: \'6x\')}.css'
	}">
	<div class="typo3-fullDoc t3extblog">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1" class="typo3-docheader-functions">
				<div class="buttonsleft left">
					<f:be.buttons.csh />

					<f:comment>@todo Remove version conditions when TYPO3 6.2 is no longer relevant</f:comment>
					<t3b:typo3Version version="7.3" operator=">=">
						<f:render partial="Backend/Menu/7x" />
					</t3b:typo3Version>
					<t3b:typo3Version version="7.3" operator="<">
						<f:render partial="Backend/Menu/6x" />
					</t3b:typo3Version>
				</div>
				<div class="buttonsright right">
					<f:be.pagePath /><f:be.pageInfo />
				</div>
			</div>
			<div id="typo3-docheader-row2" class="typo3-docheader-buttons">
				<div class="docheader-row2-left left">
					<f:render section="iconButtons" />
				</div>
				<div class="docheader-row2-right right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h1><f:translate key="module.title" /></h1>

				<f:flashMessages />
				<f:render partial="Backend/PageNotice" arguments="{data: pageNotice}" />

				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>
</div>