{namespace t3extblog = Tx_T3extblog_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="content">
	<h2><f:translate key="module.comment.title.pending" /></h2>

	<f:render
		partial="Comment/Table"
		arguments="{
			comments: pendingComments,
			dateFormat:	dateFormat,
			timeFormat: timeFormat,
			returnUrl: returnUrl
		}"
	/>
</f:section>


<f:section name="iconButtons">
	<a href="#" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_t3blog_com][{pageId}]=new'; return false;">
		<t3extblog:SpriteManagerIcon iconName="actions-document-new" />
	</a>
</f:section>

</div>