{namespace t3extblog = TYPO3\T3extblog\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="content">
	<h2>
		<f:translate key="module.comment.title.byPost" arguments="{0: '{post.title}'}" />
	</h2>

	<f:render partial="PendingComments" arguments="{pendingComments: pendingComments, addLink: 0}" />

	<f:render
		partial="Comment/Table"
		arguments="{
			comments: comments,
			dateFormat: dateFormat,
			timeFormat: timeFormat,
			returnUrl: returnUrl
		}"
	/>
</f:section>


<f:section name="iconButtons">
	<a href="#" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_t3blog_com][{pageId}]=new&defVals[tx_t3blog_com][fk_post]={post.uid}'; return false;">
		<t3extblog:SpriteManagerIcon iconName="actions-document-new" />
	</a>
</f:section>

</div>