<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<f:if condition="{paginator.paginatedItems}">
		<f:if condition="{settings.latestComments.paginate.insertAbove}">
			<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
		</f:if>

		<f:for each="{paginator.paginatedItems}" as="comment">
			<f:render partial="Comment/Show" arguments="{post: comment.post, comment: comment}" />
		</f:for>

		<f:if condition="{settings.latestComments.paginate.insertBelow}">
			<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
		</f:if>
	</f:if>

</f:section>

</html>
