<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

	<t3b:flashMessages />

	<h2><f:translate key="subscriber.headline" /></h2>

	<div class="clearfix">
		<f:link.action class="btn btn-info pull-right" action="logout">
			<span class="glyphicon glyphicon-log-out"></span>
			<f:translate key="subscriber.logout" />
		</f:link.action>
	</div>

	<table class="table table-bordered table-striped" >
		<caption><f:translate key="subscriber.headline" />: <em>{email}</em></caption>
		<thead>
			<tr>
				<th style="width: 50%;"><f:translate key="subscriber.table.header.post" /></th>
				<th style="width: 25%;"><f:translate key="subscriber.table.header.name" /></th>
				<th style="width: 10%;"><f:translate key="subscriber.table.header.comments" /></th>
				<th style="width: 15%;"></th>
			</tr>
		</thead>

		<tbody>
		<f:for each="{subscribers}" as="subscriber">
			<tr>
				<td>
					<f:link.action
							pageUid="{settings.blogsystem.pid}"
							controller="Post"
							action="show"
							additionalParams="{L: subscriber.post.sysLanguageUid}"
							arguments="{subscriber.post.linkParameter}">
						{subscriber.post.title}
					</f:link.action>
				</td>
				<td>{subscriber.name}</td>
				<td>
					<f:count>{subscriber.postComments}</f:count> <f:translate key="subscriber.table.approved" /><br />
					<f:count>{subscriber.postPendingComments}</f:count> <f:translate key="subscriber.table.moderation" />
				</td>
				<td>
					<f:link.action class="btn btn-danger" action="delete" arguments="{subscriber : subscriber}">
						<span class="icon icon-tras glyphicon glyphicon-trash"></span>
						<f:translate key="subscriber.table.delete" />
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>

</f:section>

</div>