<div xmlns:t3extblog="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Backend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<tr class="db_list_normal">
	<td class="col-icon">
		<a href="#" class="t3-js-clickmenutrigger" data-uid="{subscriber.uid}" data-table="tx_t3blog_blog_nl" title="{subscriber.uid}">
			<t3extblog:spriteIconForRecord table="tx_t3blog_blog_nl" object="{subscriber}" />
		</a>
	</td>
	<td>{subscriber.email}</td>
	<td>{subscriber.crdate -> f:format.date(format: '{dateTimeFormat}')}</td>
	<td class="action">
		<t3extblog:link.editOnClick parameters="edit[tx_t3blog_blog_nl][{subscriber.uid}]=edit" title="{f:translate(key: 'module.subscriber.help.edit')}">
			<t3extblog:spriteManagerIcon iconName="actions-document-open" />
		</t3extblog:link.editOnClick>

		<f:if condition="{subscriber.hidden}">
			<f:then>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_blog_nl][{subscriber.uid}][hidden]=0" title="{f:translate(key: 'module.subscriber.help.hide.0')}">
					<t3extblog:spriteManagerIcon iconName="actions-edit-unhide" />
				</t3extblog:link.issueCommand>
			</f:then>
			<f:else>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_blog_nl][{subscriber.uid}][hidden]=1" title="{f:translate(key: 'module.subscriber.help.hide.1')}">
					<t3extblog:spriteManagerIcon iconName="actions-edit-hide" />
				</t3extblog:link.issueCommand>
			</f:else>
		</f:if>

		<t3extblog:link.issueCommand parameters="cmd[tx_t3blog_blog_nl][{subscriber.uid}][delete]=1"
			title="{f:translate(key: 'module.subscriber.help.delete')}"
			onclick="return confirm(\"{f:translate(key: 'module.message.deleteRecord')}\");">
			<t3extblog:spriteManagerIcon iconName="actions-edit-delete" />
		</t3extblog:link.issueCommand>
	</td>
</tr>

</div>
