/* Table */
table tr.db_list_normal td.title {
	font-weight: bold;
}

table tr.localized td.col-icon {
	padding-left: 20px;
}
table tr.db_list_normal.localized td.title {
	font-weight: normal;
}

table td.comment {
	width: 75px;
}

table td.action {
	width: 65px;
}
table td.action a {
	text-decoration: none;
}

/* Paginate 6.x & 7.x */
.pagination {
	display: inline-block;
	margin: 5px 5px 0 5px;
	padding: 0;
}

.pagination > li {
	display: inline;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
