<div xmlns:t3extblog="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Backend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<tr class="db_list_normal{f:if(condition: '{comment.valid}', else: ' warning')}">
	<td class="col-icon">
		<a href="#" class="t3-js-clickmenutrigger" data-uid="{comment.uid}" data-table="tx_t3blog_com" title="{comment.uid}">
			<t3extblog:spriteIconForRecord table="tx_t3blog_com" object="{comment}" />
		</a>
	</td>
	<td>
		<t3extblog:link.editOnClick parameters="edit[tx_t3blog_com][{comment.uid}]=edit" title="{comment.plainText -> f:format.crop(maxCharacters: 300)}">
			{comment.title -> f:format.crop(maxCharacters: 30)}
		</t3extblog:link.editOnClick>
	</td>
	<td>{comment.date -> f:format.date(format: '{dateFormat} {timeFormat}')}</td>
	<td>{comment.author}</td>
	<td><a href="mailto:{comment.email}">{comment.email}</a></td>
	<td><a href="{comment.website}">{comment.website -> f:format.crop(maxCharacters: 30)}</a></td>
	<td>
		<f:if condition="{comment.approved}">
			<f:then>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][approved]=0" title="{f:translate(key: 'module.comment.help.approved.0')}">
					<t3extblog:spriteManagerIcon iconName="status-status-permission-granted" />
				</t3extblog:link.issueCommand>
			</f:then>
			<f:else>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][approved]=1" title="{f:translate(key: 'module.comment.help.approved.1')}">
					<t3extblog:spriteManagerIcon iconName="status-status-permission-denied" />
				</t3extblog:link.issueCommand>
			</f:else>
		</f:if>
	</td>
	<td>
		<f:if condition="{comment.spam}">
			<f:then>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][spam]=0" title="{f:translate(key: 'module.comment.help.spam.0')}">
					<t3extblog:spriteManagerIcon iconName="actions-edit-localize-status-high" />
				</t3extblog:link.issueCommand>
			</f:then>
			<f:else>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][spam]=1" title="{f:translate(key: 'module.comment.help.spam.1')}">
					<t3extblog:spriteManagerIcon iconName="actions-edit-localize-status-low" />
				</t3extblog:link.issueCommand>
			</f:else>
		</f:if>
	</td>
	<td class="action">
		<t3extblog:link.editOnClick parameters="edit[tx_t3blog_com][{comment.uid}]=edit" title="{f:translate(key: 'module.comment.help.edit')}">
			<t3extblog:spriteManagerIcon iconName="actions-document-open" />
		</t3extblog:link.editOnClick>

		<f:if condition="{comment.hidden}">
			<f:then>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][hidden]=0" title="{f:translate(key: 'module.comment.help.hide.0')}">
					<t3extblog:spriteManagerIcon iconName="actions-edit-unhide" />
				</t3extblog:link.issueCommand>
			</f:then>
			<f:else>
				<t3extblog:link.issueCommand parameters="data[tx_t3blog_com][{comment.uid}][hidden]=1" title="{f:translate(key: 'module.comment.help.hide.1')}">
					<t3extblog:spriteManagerIcon iconName="actions-edit-hide" />
				</t3extblog:link.issueCommand>
			</f:else>
		</f:if>

		<t3extblog:link.issueCommand parameters="cmd[tx_t3blog_com][{comment.uid}][delete]=1"
	 		title="{f:translate(key: 'module.comment.help.delete')}"
	 		onclick="return confirm(\"{f:translate(key: 'module.message.deleteRecord')}\");">
			<t3extblog:spriteManagerIcon iconName="actions-edit-delete" />
		</t3extblog:link.issueCommand>
	</td>
</tr>

</div>
