<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="panel panel-space panel-default">
	<f:if condition="{paginator.paginatedItems}">
		<f:then>
			<div class="table-fit">
				<f:if condition="{settings.backend.comments.paginate.insertAbove}">
					<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
				</f:if>

				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<td style="width: 35px;">&nbsp;</td>
							<td><f:translate key="module.comment.table.title" /></td>
							<td><f:translate key="module.comment.table.date" /></td>
							<td><f:translate key="module.comment.table.author" /></td>
							<td><f:translate key="module.comment.table.email" /></td>
							<td><f:translate key="module.comment.table.website" /></td>
							<td><f:translate key="module.comment.table.approved" /></td>
							<td><f:translate key="module.comment.table.spam" /></td>
							<td style="width: 75px;">&nbsp;</td>
						</tr>
					</thead>

					<f:groupedFor each="{paginator.paginatedItems}" as="paginatedCommentsByPost" groupBy="postId" groupKey="currentPostUid">
						<tr>
							<td colspan="9">
								<b><t3b:backend.recordTitle table="tx_t3blog_post" uid="{currentPostUid}" /></b>
							</td>
						</tr>
						<f:for each="{paginatedCommentsByPost}" as="comment">
							<f:render partial="Backend/Comment/Row" arguments="{comment: comment, dateTimeFormat: dateTimeFormat}" />
						</f:for>
					</f:groupedFor>
					<tr>
						<td colspan="9">
							<f:translate
								key="module.comment.table.count"
								arguments="{0: '{paginatedComments -> f:count()}', 1: '{comments -> f:count()}'}" />
						</td>
					</tr>
				</table>

				<f:if condition="{settings.backend.comments.paginate.insertBelow}">
					<f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="panel-body">
				<em><f:translate key="module.comment.noRecords" /></em>
			</div>
		</f:else>
	</f:if>
</div>

</html>
