<f:layout name="Default" />

<f:section name="main">
	<h2>Categories</h2>
	<ul>
	<f:for each="{categories}" as="category">
		<f:if condition="{category.firstLevel}">		
		<li>	
			<f:link.action pageUid="{settings.blogsystem.pid}" controller="Post" action="list" arguments="{category : category}">{category.name}</f:link.action>			
			<f:if condition="{category.childCategories}">	
				<f:render section="categoryTree" arguments="{categories: category.childCategories}" />
			</f:if>
		</li>
		</f:if>
	</f:for>
	</ul>
</f:section>

<f:section name="categoryTree">
	<ul>
	<f:for each="{categories}" as="category">
		<li>
			<f:link.action pageUid="{settings.blogsystem.pid}" controller="Post" action="list" arguments="{category : category}">{category.name}</f:link.action>			
			<f:if condition="{category.childCategories}">	
				<f:render section="categoryTree" arguments="{categories: category.childCategories}" />
			</f:if>
		</li>
	</f:for>
	</ul>
</f:section>