<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

	<h2>{category.name}</h2>

	<div class="description">
		{category.description}
	</div>

	<t3b:widget.paginate objects="{category.posts}" as="paginatedPosts" configuration="{settings.categories.paginate}">
		<ul>
		<f:for each="{paginatedPosts}" as="post">
			<li>
				<f:link.action pageUid="{settings.blogsystem.pid}" controller="Post" action="category" arguments="{post.linkParameter}">{post.title}</f:link.action>
			</li>
		</f:for>
		</ul>
	</t3b:widget.paginate>

</f:section>

</div>