imports:
  - { resource: Backend/DashboardWidgets.yaml }

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  FelixNagel\T3extblog\:
    resource: '../Classes/*'

  # Dependency injection
  FelixNagel\T3extblog\Service\SettingsService:
    public: true

  FelixNagel\T3extblog\Configuration\BackendConfigurationManager:
    public: true
    arguments:
      $typoScriptCache: '@cache.typoscript'
      $runtimeCache: '@cache.runtime'

  # Interface implementations
  FelixNagel\T3extblog\Service\SessionServiceInterface:
    alias: FelixNagel\T3extblog\Service\SessionService
    public: true

  FelixNagel\T3extblog\Service\AuthenticationServiceInterface:
    alias: FelixNagel\T3extblog\Service\AuthenticationService
    public: true

  FelixNagel\T3extblog\Service\SpamCheckServiceInterface:
    alias: FelixNagel\T3extblog\Service\SpamCheckService
    public: true

  FelixNagel\T3extblog\Service\LoggingServiceInterface:
    alias: FelixNagel\T3extblog\Service\LoggingService
    public: true

  FelixNagel\T3extblog\Service\RateLimiterServiceInterface:
    alias: FelixNagel\T3extblog\Service\RateLimiterService
    public: true
