<f:be.menus.actionMenu>
	<f:be.menus.actionMenuItem label="{f:translate(key: 'module.dashboard.title')}" controller="BackendDashboard" action="index" />
	<f:be.menus.actionMenuItem label="{f:translate(key: 'module.post.title')}" controller="BackendPost" action="index" />

	<f:be.menus.actionMenuItem label="{f:translate(key: 'module.comment.title.all')}" controller="BackendComment" action="index" />
	<f:be.menus.actionMenuItem label="{f:translate(key: 'module.comment.title.pending')}" controller="BackendComment" action="listPending" />

	<f:be.menus.actionMenuItem label="{f:translate(key: 'module.subscriber.post.title')}" controller="BackendSubscriber" action="indexPostSubscriber" />
	<f:be.menus.actionMenuItem label="{f:translate(key: 'module.subscriber.blog.title')}" controller="BackendSubscriber" action="indexBlogSubscriber" />
</f:be.menus.actionMenu>