<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:if condition="{category}">
	<t3b:titleTag><f:translate key="post.category" /> "{category.name}" / </t3b:titleTag>
	<div class="alert alert-info">
		<f:translate key="post.filter.legend" /> <f:translate key="post.category" /> <em>{category.name}</em>
		<f:link.action controller="Post" action="list" class="pull-right">
			<f:translate key="post.filter.reset" />
		</f:link.action>
	</div>
	<br>
</f:if>

<f:if condition="{tag}">
	<t3b:titleTag><f:translate key="post.tag" /> "{tag}" / </t3b:titleTag>
	<div class="alert alert-info">
		<f:translate key="post.filter.legend" /> <f:translate key="post.tag" /> <em>{tag}</em>
		<f:link.action controller="Post" action="list" class="pull-right">
			<f:translate key="post.filter.reset" />
		</f:link.action>
	</div>
	<br>
</f:if>

<f:if condition="{author}">
	<t3b:titleTag>"{author.name}" / </t3b:titleTag>
	<div class="alert alert-info">
		<f:translate key="post.filter.legend" /> <em>{author.name}</em>
		<f:link.action controller="Post" action="list" class="pull-right">
			<f:translate key="post.filter.reset" />
		</f:link.action>
	</div>
	<br>
</f:if>

</div>