{namespace t3b=Tx_T3extblog_ViewHelpers}

<f:if condition="{category}">
	<t3b:frontend.titleTag><f:translate key="post.category" /> "{category.name}" / </t3b:frontend.titleTag>
	<div class="alert alert-block alert-info">
		<f:translate key="post.filter.legend" /> <f:translate key="post.category" /> <em>{category.name}</em>
		<f:link.action controller="Post" action="list" class="pull-right">
			<f:translate key="post.filter.reset" />
		</f:link.action>
	</div>
	<br>
</f:if>
<f:if condition="{tag}">
	<t3b:frontend.titleTag><f:translate key="post.tag" /> "{tag}" / </t3b:frontend.titleTag>
	<div class="alert alert-block alert-info">
		<f:translate key="post.filter.legend" /> <f:translate key="post.tag" /> <em>{tag}</em>
		<f:link.action controller="Post" action="list" class="pull-right">
			<f:translate key="post.filter.reset" />
		</f:link.action>
	</div>
	<br>
</f:if>