<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:t3b="http://typo3.org/ns/FelixNagel/T3extblog/ViewHelpers/Frontend" data-namespace-typo3-fluid="true">

<t3b:titleTag searchTitle="{post.title}">{post.title} - </t3b:titleTag>

<f:if condition="{settings.blogsystem.posts.metadata.enable}">
	<f:if condition="{post.metaDescription}">
		<f:then>
			<t3b:metaTag property="description" content="{post.metaDescription}" />
		</f:then>
		<f:else>
			<t3b:metaTag property="description" content="{post.preview -> f:format.crop(maxCharacters: 150, respectWordBoundaries: 'true')}" />
		</f:else>
	</f:if>

	<f:if condition="{post.metaKeywords}">
		<f:then>
			<t3b:metaTag property="keywords" content="{post.metaKeywords}" />
		</f:then>
		<f:else>
			<t3b:metaTag property="keywords" content="{post.rawTagCloud}" />
		</f:else>
	</f:if>
</f:if>

<f:if condition="{settings.blogsystem.posts.metadata.twitterCards.enable}">
	<t3b:metaTag property="og:url" useCurrentDomain="1" />
	<t3b:metaTag property="og:title" content="{post.title}" />
	<t3b:metaTag property="og:description" content="{post.preview -> f:format.crop(maxCharacters: 150, respectWordBoundaries: 'true')}" />
	<t3b:metaTag property="twitter:card" content="summary" />
	<f:if condition="{settings.blogsystem.posts.metadata.twitterCards.site}">
		<t3b:metaTag property="twitter:site" content="@{settings.blogsystem.posts.metadata.twitterCards.site}" />
	</f:if>
	<f:if condition="{post.previewImage}">
		<t3b:metaTag property="twitter:image" forceAbsoluteUrl="1"
								 content="{f:uri.image(src: '{post.previewImage.uid}', treatIdAsReference: 1, maxWidth: '500')}" />
	</f:if>
</f:if>

<f:if condition="{settings.blogsystem.posts.metadata.openGraph.enable}">
	<t3b:metaTag property="og:url" useCurrentDomain="1" />
	<t3b:metaTag property="og:title" content="{post.title}" />
	<t3b:metaTag property="og:description" content="{post.preview -> f:format.crop(maxCharacters: 150, respectWordBoundaries: 'true')}" />
	<f:if condition="{post.previewImage}">
		<t3b:metaTag property="og:image" forceAbsoluteUrl="1"
								 content="{f:uri.image(src: '{post.previewImage.uid}', treatIdAsReference: 1, maxWidth: '500')}" />
	</f:if>
</f:if>

</html>
