<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:if condition="{post.previewImage}">
	<figure class="thumbnail preview">
		<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" pageUid="{settings.blogsystem.pid}">
			<f:cObject typoscriptObjectPath="lib.tx_t3extblog.responsiveImage" data="{post.previewImage.properties}" currentValueKey="uid" />
		</f:link.action>

		<figcaption>
			<f:if condition="{post.previewImage.properties.caption}">
				<f:then>{post.previewImage.properties.caption}</f:then>
				<f:else>
					<f:if condition="{post.previewImage.properties.description}">{post.previewImage.properties.description}</f:if>
				</f:else>
			</f:if>

			<p class="small muted">
				<f:if condition="{post.previewImage.properties.copyright_notice}">
					<f:then>&copy; {post.previewImage.properties.author}</f:then>
					<f:else>
						<f:if condition="{post.previewImage.properties.creator}">&copy; {post.previewImage.properties.creator}</f:if>
					</f:else>
				</f:if>
				<f:if condition="{post.previewImage.properties.source}">
					<f:then>, {post.previewImage.properties.source}</f:then>
					<f:else>
						<f:if condition="{post.previewImage.properties.publisher}">, {post.previewImage.properties.publisher}</f:if>
					</f:else>
				</f:if>
			</p>
		</figcaption>
	</figure>
</f:if>

</div>