<table class="tx-t3extblog" >
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_post.title" />
		</td>
		<td>
			{post.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_post.author" />
		</td>
		<td>
			{post.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_post.publish_date" />
		</td>
		<td>
			{post.publishDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_post.allow_comments" />
		</td>
		<td>
			{post.allowComments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_post.tag_cloud" />
		</td>
		<td>
			{post.tagCloud}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3extblog_domain_model_post.number_of_views" />
		</td>
		<td>
			{post.numberOfViews}
		</td>
	</tr>
</table>