/* Lists */
table td.action {
	width: 85px;
	text-align: right;
}

#pending-comments-list table tr.warning td {
	background: transparent;
}

table tr.localized td.col-icon {
	padding-left: 23px;
}

/* Dashboard */
#dashboard .grid {
	margin: 0;
	float: left;
}
#dashboard-comments td.action {
	width: 125px;
	text-align: right;
}
#dashboard-subscriptions td.action {
	width: 70px;
}

/* Paginate */
.t3extblog .pagination {
	margin: 5px;
}
