/*
 * Styles for TYPO3 6.x
 */

/* @todo Remove this when 6.2 is no longer relevant */

/* Table */
table {
	font-size: 12px;
}

table tr.db_list_normal td.title {
	font-weight: bold;
}

table tr.db_list_normal.localized td.title {
	font-weight: normal;
}

table td.comment {
	width: 75px;
}

table td.action {
	width: 65px;
}
table td.action a {
	text-decoration: none;
}

table tr.warning td,
table.typo3-dblist tr.db_list_normal.warning td {
	background: #fbefdd;
}

/* Dashboard */
#dashboard .panel-heading {
	font-size: 1.25em;
	font-weight: bold;
	margin: 1em 0;
}
#dashboard-comments td.action {
	padding-right: 0;
}
#dashboard-subscriptions td.action {
	padding-right: 0;
}
#dashboard-actions .panel-body a {
	display: block;
	margin-top: 0.5em;
	padding: 0.25em 0.5em;
}

/* Paginate 6.x only */
.pagination > li > a,
.pagination > li > span {
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination > li.active > a,
.pagination > li.active > span {
	font-weight: bold;
}
