name: GIT commit message check

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  check-commit-message:
    name: Check commit message
    runs-on: ubuntu-latest
    steps:
      - name: Check type prefix
        uses: gsactions/commit-message-checker@v1
        with:
          pattern: '^\[(BUILD|TASK|BUGFIX|FIX|FEATURE|DOC|CLEANUP|RELEASE){1}\] .+$'
          flags: 'gm'
          error: 'The first line needs to start with a commit type like "[BUGFIX]".'
      - name: Check message format
        uses: gsactions/commit-message-checker@v1
        with:
          pattern: '^\[[A-Z]+\] [A-Z]+.+$'
          flags: 'gm'
          error: 'The actual message after the commit type should start with a uppercase letter.'
      - name: Check line length
        uses: gsactions/commit-message-checker@v1
        with:
          pattern: '^.{10,72}$'
          flags: 'gm'
          error: 'The maximum line length of 72 characters is exceeded.'
